<div class="feed-links">
  <% link_to 'http://feed.goodbad.show/goodbadfeed', class: "feed-link" do %>
    <%= image_tag 'rss.png' %>
  <% end %>
  <% link_to 'https://itunes.apple.com/us/podcast/good-bad-show/id1095158552?mt=2', class: "feed-link" do %>
    <%= image_tag 'itunes.png' %>
  <% end %>
</div>
