<% link_to "index.html", class: "logo" do %>
  <%= image_tag 'good.png', class: "logo-type-good" %>
  <%= image_tag 'bad.png', class: "logo-type-bad" %>
  <%= image_tag 'show.png', class: "logo-type-show" %>
<% end %>
<div class="tagline">A small podcast struggling to answer a big&nbsp;question.</div>
