---
title: Good Bad Show
---

<%= partial "shared/header" %>

<div>
  <% data.episodes.reverse.each do |episode| %>
    <%= link_to episode.title, "/episodes/#{episode.slug}.html", class: "index-episode-title" %>
  <% end %>
</div>

<%= link_to '@realgoodbadshow', 'http://twitter.com/realgoodbadshow', class: "twitter-link" %>

